*{
    margin: 0px;
    padding: 0px;
}

header{
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 80px;

border-style: solid;
border-color: black;
border-width: 2px;
}

nav{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 80px;

border-style: solid;
border-color: black;
border-width: 2px;
}


main{
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px 200px;
}

section > div{
    border-width: 2px;
    border-color: black;
    border-style: solid;

    width: 300px;
    height: 200px;
}


footer{

}