*{
    margin: 0;
    padding: 0;
}

header{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 80px;

border-bottom: solid;
border-color: black;
border-width: 2px;
}

main{
    border-bottom: solid;
    border-color: black;
    border-width: 2px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
}

#search{
    padding: 30px 10px;
}

footer{

}